<table border="2">
<{foreach item=item from=$block.items}>
<tr class="<{cycle values="even,odd"}>"><td align="center">
<a href="<{$item.URL}>" target="<{$block.TargetWindow}>"><img src="<{$item.MediumImageURL}>" width="<{$item.MediumImageWidth}>" height="<{$item.MediumImageHeight}>" border="0" alt="Click this image" /></a>
<br clear="all" />
<a href="<{$item.URL}>" target="<{$block.TargetWindow}>"><{$item.Title}></a>
</td></tr>
<{/foreach}>
</table>
<a href="http://xoops.taquino.net/"><span style="font-size:xx-small; text-align:center; display:none;">Amaxoop Lite 2</span></a>
